.table-container {
  background-color: white;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-top: 1rem;

  .table-body {
    overflow-x: auto;
    overflow-y: auto;
    max-height: calc(100vh - 22rem);
    // Estilos del scrollbar en navegadores webkit (Chrome, Safari)
    &::-webkit-scrollbar {
      height: 0.5rem;
      width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--bs-gray-600);
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--bs-gray-200);
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-button {
      display: none;
    }

    table {
      color: var(--bs-gray-800);
    }
  }
}

.table-logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.paginate {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.informative-icon {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 1rem;
    height: 1rem;
    align-self: center;
    margin-top: 5px;
  }
}

.oberlay-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: var(--bs-gray-100);
  padding: 6px 0;
}

.oberlay-standalone-trigger {
  position: relative;
}

.oberlay-menu-item,
.oberlay-standalone-trigger {
  background-color: transparent;
  cursor: pointer;
  border: none;

  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.oberlay-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.oberlay-menu-item:active {
  background-color: rgb(170, 170, 170);
}

.oberlay-standalone-item {
  background-color: rgb(239, 239, 239);
}
.oberlay-standalone-item:hover {
  background-color: rgb(208, 208, 208);
}
.oberlay-standalone-item[aria-expanded="true"] {
  background-color: rgb(208, 208, 208);
}

.oberlay-menu-item.danger {
  color: var(--bs-danger);
}

.pagination {
  display: flex;
  gap: 1rem;
}

.pagination-btns {
  display: flex;
  align-items: center;

  button {
    height: 100%;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid var(--bs-border-color);
    cursor: pointer;
    background-color: transparent;

    &.prev {
      border-top-left-radius: var(--bs-border-radius);
      border-bottom-left-radius: var(--bs-border-radius);
    }
    &.next {
      border-top-right-radius: var(--bs-border-radius);
      border-bottom-right-radius: var(--bs-border-radius);
    }

    &.current-page {
      cursor: auto;
    }

    &:hover {
      background-color: var(--bs-gray-200);
    }

    &:disabled {
      opacity: 0.65;
      pointer-events: none;
      color: black;
      background-color: var(--bs-gray-200);
    }
  }
}

.spinner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
  font-size: 1.25rem;

  .spinner-loader {
    border-color: var(--bs-yellow);
    border-bottom-color: transparent;
    width: 1.25rem;
    height: 1.25rem;
  }
}
