<section class="container">
  <div class="flex item-center pt-60">
    <div class="form-container">
      <h1 class="">Formulario de Registro</h1>
      <form action="" class="row" [formGroup]="form" (ngSubmit)="onSaveForm()">
        <div class="col-12 col-sm-6">
          <label for="id" class="form-label">ID</label>
          <input type="text" id="id" class="form-control" formControlName="id">
          @if (prodctId?.invalid && (prodctId?.dirty || prodctId?.touched)) {
          <div class="alert alert-danger">
            @if (prodctId?.hasError('required')) {
            <div class="invalid-feedback">
              Este campo es requerido!
            </div>
            }
            @if (prodctId?.hasError('minlength')) {
            <div class="invalid-feedback">
              El id debe tener al menos 3 caracteres!
            </div>
            }
            @if (prodctId?.hasError('maxlength')) {
            <div class="invalid-feedback">
              El id no debe ser mayor a 10 caracteres!
            </div>
            }
            @if (prodctId?.hasError('uniqueId')) {
            <div class="invalid-feedback">
              ID no válido!
            </div>
            }
          </div>
          }
        </div>
        <div class="col-12 col-sm-6">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" id="name" class="form-control" formControlName="name">
          @if (name?.invalid && (name?.dirty || name?.touched)) {
          <div class="alert alert-danger">
            @if (name?.hasError('required')) {
            <div class="invalid-feedback">
              Este campo es requerido!
            </div>
            }
            @if (name?.hasError('minlength')) {
            <div class="invalid-feedback">
              El nombre debe tener al menos 5 caracteres!
            </div>
            }
            @if (name?.hasError('maxlength')) {
            <div class="invalid-feedback">
              El nombre no debe ser mayor a 100 caracteres!
            </div>
            }
          </div>
          }
        </div>

        <div class="col-12 col-sm-6">
          <label for="description" class="form-label">Descriptión</label>
          <input type="text" id="description" class="form-control" formControlName="description">
          @if (description?.invalid && (description?.dirty || description?.touched)) {
          <div class="alert alert-danger">
            @if (description?.hasError('required')) {
            <div class="invalid-feedback">
              Este campo es requerido!
            </div>
            }
            @if (description?.hasError('minlength')) {
            <div class="invalid-feedback">
              La descripcion debe tener al menos 10 caracteres!
            </div>
            }
            @if (description?.hasError('maxlength')) {
            <div class="invalid-feedback">
              La descripcion no debe ser mayor a 200 caracteres!
            </div>
            }
          </div>
          }
        </div>
        <div class="col-12 col-sm-6">
          <label for="logo" class="form-label">Logo</label>
          <input type="url" id="logo" class="form-control" formControlName="logo">
          @if (logo?.invalid && (logo?.dirty || logo?.touched)) {
          <div class="alert alert-danger">
            @if (logo?.hasError('required')) {
            <div class="invalid-feedback">
              Este campo es requerido!
            </div>
            }
          </div>
          }
        </div>

        <div class="col-12 col-sm-6">
          <label for="date_release" class="form-label">Fecha Liberación</label>
          <input type="date" id="date_release" class="form-control" formControlName="date_release">
          @if (dateRelease?.invalid && (dateRelease?.dirty || dateRelease?.touched)) {
          <div class="alert alert-danger">
            @if (dateRelease?.hasError('required')) {
            <div class="invalid-feedback">
              Este campo es requerido!
            </div>
            }
            @if (dateRelease?.hasError('currentDate')) {
            <div class="invalid-feedback">
              La fecha debe ser igual o mayor a la fecha actual!
            </div>
            }
          </div>
          }
        </div>
        <div class="col-12 col-sm-6">
          <label for="date_revision" class="form-label">Fecha Revisión</label>
          <input type="date" id="date_revision" class="form-control" formControlName="date_revision">
        </div>

        <div class="col-12 form-actions">
          <button type="reset" title="Agregar" class="rounded btn-secondary" [disabled]="!form.touched || loading">
            Reiniciar
          </button>
          <button type="submit" title="Agregar" class="rounded btn-default" [disabled]="form.invalid || loading">
            @if (!loading) {
            Enviar
            } @else {
            <div class="spinner">
              Enviando... <div class="spinner-loader"></div>
            </div>
            }
          </button>
        </div>
      </form>
    </div>

  </div>
</section>
